.add-showtimes {
	.btn-add-theater {
		border-radius: 5px;
		border: none;
		outline: none;
		background: orange;
		color: #fff;
		padding: 10px;
		opacity: 1;
		&:hover {
			opacity: 0.8;
		}
	}
	.form-select{
		border: 1px solid #000;
		height: 30px;
	}
	.data-1{
		border: 1px solid #000;

	}
}
